:root {
    --font-family: 'Amaranth';
    --button-font: 'Amaranth';
    --button-radius: 1.2em;
}
     @font-face {
        font-family: Amaranth;
        src: url(fonts/amaranth.regular.ttf);
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: Amaranth;
        src: url(fonts/amaranth.bold.ttf);
        font-weight: bold;
        font-style: normal;
      }
      
      @font-face {
        font-family: Amaranth;
        src: url(fonts/amaranth.italic.ttf);
        font-weight: normal;
        font-style: italic;
      }
